@mixin footer {
    font-family: 'Raleway';
    

    .hautf {
        display: flex;
        justify-content: space-around;

        .logoninja {
            display: flex;
            img{
                width: 70px;
	            height: 80px;
            }
           
        }

        .lien {
            display: flex;

            .lien1 {
                ul {
                    li {
                        display: flex;
                        flex-direction: column;

                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }

            }
        }

    }
    .basf{
        display: flex;
        justify-content: space-around;
        .terms{
            ul{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: black;
                        
                    }
                }
            }
        }
    }
}