body header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  body header nav {
    font-size: smaller;
  }
}
body header nav h1 {
  margin-right: 20%;
  font-family: "Raleway";
}
@media (max-width: 992px) {
  body header nav h1 {
    margin-right: 0;
  }
}
body header nav #myLinks {
  list-style: none;
}
@media (max-width: 768px) {
  body header nav #myLinks {
    display: none;
  }
}
body header nav #myLinks li a {
  color: black;
  -webkit-text-decoration: underline #4BA87D;
          text-decoration: underline #4BA87D;
}
body header nav #myLinks li a .icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
body header nav button {
  margin-left: 3%;
  background-color: #4BA87D;
  color: white;
  border: none;
  padding: 10px 24px;
  font-family: "Raleway";
}
body .section1 {
  display: flex;
  height: 100vh;
  margin-top: 10%;
}
@media (max-width: 992px) {
  body .section1 {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  body .section1 {
    height: 100vh;
  }
}
body .section1 .imagefond {
  height: 100vh;
  position: absolute;
  margin-left: 45%;
  background-repeat: no-repeat;
  background-image: url(/assets/photo-1544717302-de2939b7ef71\ \(image\).png);
}
@media (max-width: 992px) {
  body .section1 .imagefond {
    margin-left: 20%;
    background-size: auto;
  }
}
@media (max-width: 768px) {
  body .section1 .imagefond {
    background-size: contain;
    margin-left: 0;
  }
}
body .section1 .texte {
  position: relative;
  right: 60%;
}
@media (max-width: 992px) {
  body .section1 .texte {
    right: 25%;
    width: 70%;
  }
}
@media (max-width: 768px) {
  body .section1 .texte {
    right: 0;
  }
}
body .section1 .texte h2 {
  font-size: 55px;
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  body .section1 .texte h2 {
    font-size: 30px;
  }
}
body .section1 .texte p {
  font-family: "Raleway";
}
body .section1 .texte .bouton1 {
  background-color: #4BA87D;
  color: white;
  border: NONE;
  padding: 10px 24px;
}
body .section1 .texte .bouton2 {
  border: 2px solid #4BA87D;
  color: #4BA87D;
  padding: 10px 24px;
}
body .section1 .image {
  width: 60%;
  position: relative;
}
body .section2 {
  width: 100%;
  display: flex;
  align-content: center;
}
body .section2 .imagebackground {
  width: 100%;
  background-image: url(/assets/VIDEO\ \(image\).png);
  height: 100vh;
  background-repeat: no-repeat;
  margin-left: 18%;
}
@media (max-width: 992px) {
  body .section2 .imagebackground {
    margin-left: auto;
    height: 50vh;
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  body .section2 .imagebackground {
    height: 100vh;
    background-size: 100%;
  }
}
body .section2 .imagebackground .bouton3 {
  margin-left: 33%;
  border: none;
  color: #4BA87D;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 24px;
  font-family: "Raleway";
}
@media (max-width: 992px) {
  body .section2 .imagebackground .bouton3 {
    margin-left: 42%;
  }
}
@media (max-width: 768px) {
  body .section2 .imagebackground .bouton3 {
    margin-left: 30%;
    border: 4px solid #4BA87D;
  }
}
body .section2 .imagebackground h3 {
  color: white;
  font-size: 70px;
  margin-left: 10%;
  font-family: "Playfair Display";
  margin-top: 10%;
}
@media (max-width: 992px) {
  body .section2 .imagebackground h3 {
    width: 100%;
    font-size: 50px;
    margin-top: 15%;
    margin-left: 15%;
  }
}
@media (max-width: 768px) {
  body .section2 .imagebackground h3 {
    font-size: 25px;
    margin-left: 10%;
  }
}
body .section3 {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}
@media (max-width: 992px) {
  body .section3 {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  body .section3 {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin-bottom: 100%;
  }
}
body .section3 .groupe1 {
  position: relative;
}
body .section3 .groupe1 img {
  width: 100%;
}
@media (max-width: 992px) {
  body .section3 .groupe1 img {
    width: 70%;
  }
}
@media (max-width: 768px) {
  body .section3 .groupe1 img {
    width: 100%;
    margin-bottom: 30%;
  }
}
body .section3 .groupe1 .cadre {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: white;
  bottom: 50%;
  width: 99%;
  font-family: "Raleway";
}
@media (max-width: 992px) {
  body .section3 .groupe1 .cadre {
    top: 25%;
    width: 70%;
  }
}
@media (max-width: 768px) {
  body .section3 .groupe1 .cadre {
    top: 70%;
    width: 90%;
  }
}
body .section3 .groupe1 .cadre a {
  color: #4BA87D;
  text-decoration: none;
}
body .section3 .txt {
  width: 20%;
  font-size: larger;
}
@media (max-width: 992px) {
  body .section3 .txt {
    width: 30%;
    font-size: smaller;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  body .section3 .txt {
    width: 100%;
  }
}
body .section3 .txt h3 {
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  body .section3 .txt h3 {
    font-size: 30px;
  }
}
body .section3 .txt p {
  font-family: "Raleway";
}
body .section4 {
  height: 50vh;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  body .section4 {
    height: 30vh;
  }
}
@media (max-width: 768px) {
  body .section4 {
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin-bottom: 10%;
  }
}
body .section4 .imagef1 {
  background-image: url(/assets/photo\ \(2\).png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 25%;
}
@media (max-width: 992px) {
  body .section4 .imagef1 {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  body .section4 .imagef1 {
    background-size: 100%;
    width: 100%;
  }
}
body .section4 .imagef2 {
  background-image: url(/assets/photo\ \(3\).png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 25%;
}
@media (max-width: 992px) {
  body .section4 .imagef2 {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  body .section4 .imagef2 {
    background-size: 100%;
    width: 100%;
  }
}
body .section4 .imagef3 {
  background-image: url(/assets/photo\ \(4\).png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 25%;
}
@media (max-width: 992px) {
  body .section4 .imagef3 {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  body .section4 .imagef3 {
    background-size: 100%;
    width: 100%;
  }
}
body .section4 .txt1 {
  color: white;
  font-family: "Raleway";
  font-size: larger;
  margin-top: 40%;
  margin-left: 10%;
}
@media (max-width: 992px) {
  body .section4 .txt1 {
    margin-top: 25%;
  }
}
@media (max-width: 768px) {
  body .section4 .txt1 {
    margin-top: 40%;
    font-size: 20px;
  }
}
body .section5 {
  margin-bottom: 10%;
}
body .section5 .texte1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  font-family: "Playfair Display";
}
@media (max-width: 992px) {
  body .section5 .texte1 {
    width: 80%;
    margin-left: 15%;
  }
}
body .section5 .email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  font-family: "Raleway";
}
@media (max-width: 768px) {
  body .section5 .email {
    flex-direction: column;
  }
}
body .section5 .email button {
  color: white;
  background-color: #4BA87D;
  padding: 3px 24px;
  border: none;
}
body .section5 .logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body .section5 .logo {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
body .section6 {
  background-color: #4BA87D;
  height: 60vh;
}
@media (max-width: 992px) {
  body .section6 {
    height: 30vh;
  }
}
body .section6 .titre2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
  font-family: "Playfair Display";
  color: white;
}
body .section6 .bouton2style {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .section6 .bouton2 {
  color: #4BA87D;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 24px;
  font-family: "Raleway";
}
body footer {
  font-family: "Raleway";
}
body footer .hautf {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body footer .hautf {
    flex-direction: column;
    align-items: center;
  }
}
body footer .hautf .logoninja {
  display: flex;
}
body footer .hautf .logoninja img {
  width: 70px;
  height: 80px;
}
body footer .hautf .lien {
  display: flex;
}
@media (max-width: 768px) {
  body footer .hautf .lien {
    flex-direction: column;
    align-items: center;
  }
}
body footer .hautf .lien .lien1 ul li {
  display: flex;
  flex-direction: column;
}
body footer .hautf .lien .lien1 ul li a {
  text-decoration: none;
  color: black;
}
body footer .basf {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  body footer .basf {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  body footer .basf {
    flex-direction: column;
    align-items: center;
  }
}
body footer .basf .terms ul li {
  list-style: none;
}
body footer .basf .terms ul li a {
  text-decoration: none;
  color: black;
}
@media (max-width: 992px) {
  body footer .basf .terms ul li a {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  body footer .basf .terms ul li a {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */